---
---

// 테마 메인 스타일 로드
@import "just-the-docs/just-the-docs";

// 커스텀 스타일
body, html, input, textarea, button, select {
    font-family: 'JoseonGulim', -apple-system, BlinkMacSystemFont, sans-serif !important;
}

h1, h2, h3, h4, h5, h6, 
.site-title, 
.nav-list-link, 
.nav-list-expander, 
.breadcrumb-nav-list-item {
    font-family: 'JoseonGulim', -apple-system, BlinkMacSystemFont, sans-serif !important;
}

body {
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.main-content .anchor-heading {
    position: absolute !important;
    transform: translateX(-100%) !important;
    padding-right: 4px !important;
}

@font-face {
    font-family: 'JoseonGulim';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
